{% if user is defined %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('main') }}">Home</a>
        </li>

        {% if ('ROLE_EDITOR' in user.roles) or ('ROLE_ADMIN' in user.roles) %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('content') }}">Content Management</a>
          </li>
        {% endif %}

        {% if ('ROLE_ADMIN' in user.roles) %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('admin') }}">Admin Dashboard</a>
          </li>
        {% endif %}

        {% if ('ROLE_USER' in user.roles) or ('ROLE_ADMIN' in user.roles) %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('profile') }}">Profile</a>
          </li>
        {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{{ path('logout') }}">Log Out</a>
          </li>

      </ul>
    </div>
  </nav>
{% endif %}
