{% extends 'master.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block content %}

  <div class="col-md-5 offset-md-2">
    <h1>Main Page</h1>
    <div class="row">
      <div class="col-md-5">
        <h2>Username: </h2>
      </div>
      <div class="col-md-5">
          <h2>{{ user.username }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h2>Roles:</h2>
      </div>
      <div class="col-md-5">
        {% for role in user.roles %}
          <h2>{{ role }}</h2>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h2>Last Login:</h2>
      </div>
      <div class="col-md-7">
          <h2>{{ user.lastLogin|date('Y-m-d H:i:s') }}</h2>
      </div>
    </div>


  </div>






{% endblock %}
