{% extends 'master.html.twig' %}

{% block title %}Belépés{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block scripts %}

{% if tries is defined %}
  {% if tries > 3 %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
  {% endif %}
{% endif %}

{% endblock %}

{% block content %}

  <div class="col-md-3 offset-md-4">

        {% for log_err in app.flashes('login_err') %}
        <div class="alert alert-danger">
          {{ log_err }}
        </div>
        {% endfor %}

    {{ form_start(form) }}

      <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
      </div>

      <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        {{ form_widget(form.password) }}
      </div>

      {% if tries is defined %}
        {% if tries > 3 %}
          <div class="g-recaptcha" data-sitekey="6LemMGEUAAAAAO42nPpdazd3tQlnHt8UST4khlNV"></div>
        {% endif %}
      {% endif %}

    {{ form_end(form) }}

  </div>

{% endblock %}
